<h1>Welcome</h1>
<p>To recieve your report, please enter email.</p>

<%= form_tag(url_for_options {multipart: true}) do %>
  <%= text_field_tag :email, params[:email] %>
  <%= hidden_field_tag :name, params[:name] %>

  <%= submit_tag "Submit", reports_all_data_path %>

<% end %>
