<h1>Welcome</h1>
<p>To recieve your report, please enter email.</p>

<%= form_tag reports_all_data_path do %>
  <%= text_field_tag 'Email', nil, placeholder: "Email" %>
  <%= hidden_field_tag :name, value: params[:name] %>

  <%= submit_tag %>

<% end %>
